.grid > * {
  background-color: darkgray;
  display: grid;
}

.grid {
  display: grid;
  gap: 5px;
  width: 100%;
  min-height: 100vh;

  grid-template-areas:
    'A B C '
    'A D C';
  grid-template-rows: 1fr 80px;
  grid-template-columns: 3fr 5fr 2fr;
}

.left-side-bar {
  grid-area: A;
}
.middle-lList {
  grid-area: B;
}
.sender-section {
  grid-area: C;
}
.right-side-bar {
  grid-area: D;
}
